<main>
<div data-controller="analytics">
 <button data-analytics-target="embedButton">Embed</button>
 <div data-analytics-target="loadingContainer" style="display: none;">
    Loading...
 </div>
 <div data-analytics-target="buttonGroup" style="display: none;">
 </div>
 <div data-analytics-target="container">
 </div>
</div>
</main>